<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Anna Bella - Contato</title>
    <link rel="stylesheet" href="../assets/css/global.css">
</head>
<body background="../imagens/fundo.png">
<div id="principal" class="centralizar">

    <img src="../imagens/capa.png">

    <div id="menu">
        <a href="../index.html">HOME</a> |
        <a href="biografia.html">BIOGRAFIA</a> |
        <a href="../index.html">CAMPANHAS PUBLICITÁRIAS</a> |
        <a href="../index.html">CONTATO</a>
    </div>

    <div id="conteudo"> <!-- inicio conteudo -->
        <h1>Contato</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum mattis pellentesque id nibh tortor. Odio aenean sed adipiscing diam donec adipiscing tristique. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Suspendisse ultrices gravida dictum fusce ut. Imperdiet proin fermentum leo vel orci porta non pulvinar. Dictum varius duis at consectetur lorem donec massa sapien faucibus. Urna porttitor rhoncus dolor purus non enim. Mattis pellentesque id nibh tortor id. Consectetur a erat nam at lectus urna duis convallis. In est ante in nibh mauris. Ac tincidunt vitae semper quis lectus. Dictum at tempor commodo ullamcorper. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Faucibus turpis in eu mi. Ut sem nulla pharetra diam sit amet nisl.</p>

        <img class="img-campanha" src="../imagens/foto1.png">

        <div>
            <strong>email:</strong> contato@annabella.com.br <br><strong>telefone:</strong> (11) 9978-6589
        </div>

    </div> <!-- fim conteudo -->

    <div>
        <h4 class="centralizar">Todos os direitos reservados</h4>
    </div>

</div>
</body>
</html>